 <div class="container">
     <h1 class="h1">Bienvenido/a a Dev-Cheatsheet</h1>
     <br>
     <p>
         ¿No recordas como se escribia el 'if' en Python? Dev-Cheatsheet es la solucion.
     </p>

     <p>
         Cuando los desarrolladores conocen demasiados lenguajes, es comun que empiecen a confundir la sintaxis entre un lenguaje y otro. El proposito de Dev-Cheatsheet es justamente tratar de alivianar esa carga. Desde el menu de la izquierda podes navegar hasta el lenguaje que estes buscando, y alli encontraras la sintaxis basica del mismo; como por ejemplo si es un lenguaje tipado o no, como se escribe el loop 'for' en dicho lenguaje, entre otras cosas. Tambien encontraras links al software necesario para correr dicho lenguaje y otras descargas de interes.
     </p>

     <p>
         Debido a que es un proyecto personal, solo coloque lenguajes que he utilizado y conozco. Mas adelante se iran completando otros lenguajes, incluyendo aquellos que ya no se usen tanto como Cobol, Delphi y Perl.
     </p>

     <p>
         Si tienen opiniones o sugerencias para mejorar el contenido, pueden realizar un Pull-Request desde el proyecto en GitHub: <a href="https://github.com/witherwings/dev-cheatsheet">dev-cheatsheet</a>. Tambien puedes contribuir con lenguajes que utilices y que no esten en el listado. 
         Debido a que no soy un experto, es posible que haya algunos errores en la informacion mostrada; por lo que todo feedback sera bienvenido. 
     </p>

     <p>
         De ser asi, pueden enviar sus comentarios y/o sugerencias a <a href = "mailto: witherwings77@gmail.com">witherwings77@gmail.com</a>.
     </p>
</div>