
<mat-toolbar class="toolbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="../assets/img/Logo.png" (click)="navigate('')" style="height: 75px; width: auto; cursor: pointer;">
  <span class="spacer"></span>
</mat-toolbar>

<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened="true">
    <mat-selection-list [multiple]="false">
      <div mat-subheader class="subheader">Lenguajes</div>
      <mat-list-option *ngFor="let lang of languages" (click)='navigateLang(lang)'>
        <mat-icon mat-list-icon>code</mat-icon>
        <div mat-line class="matline">{{lang}}</div>
      </mat-list-option>
    </mat-selection-list>
    <mat-divider></mat-divider>
    <!--
    <mat-selection-list [multiple]="false">
      <div mat-subheader class="subheader">Software</div>
      <mat-list-option (click)='navigate("software")'>
        <mat-icon mat-list-icon>laptop</mat-icon>
        <div mat-line class="matline">Software</div>
      </mat-list-option>
    </mat-selection-list>
    -->
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

