<div class="acc-container">
    <div style="text-align: center; padding: 20px;">
        <h1>{{selectedLang.name}}</h1>
    </div>
    <mat-accordion class="accordion">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Introduccion
                </mat-panel-title>
                <mat-panel-description>
                    Informacion general
                </mat-panel-description>
            </mat-expansion-panel-header>
            
            {{selectedLang.intro}}
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Sintaxis Básica
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div>
                {{selectedLang.sintaxis.comentarios}}
                <ul>
                    <li *ngFor="let tipo of selectedLang.sintaxis.tiposComentarios; let i = index">
                        {{tipo}} Ej: 
                        <code>
                            <pre>{{selectedLang.sintaxis.ejemplosComentarios[i]}}</pre>
                        </code>
                    </li>
                </ul>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Herramientas Necesarias
                </mat-panel-title>
                <mat-panel-description>
                    Software recomendado/necesario para desarrollar en el lenguaje seleccionado
                </mat-panel-description>
            </mat-expansion-panel-header>

            {{lang}}
        </mat-expansion-panel>
    </mat-accordion>
</div>