/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a{
    text-decoration-color: red;
    color:red;
}

a:visited{
    text-decoration-color: darkred;
    color:darkred;
}

a:hover{
    color:rgb(255, 115, 115);
}


.h1{
    text-align: center;
    font-family: MADhacker !important;
    font-weight: bolder;
    font-size: 35px !important;
    color: red;
    text-shadow: 2px 2px black;
}